@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{ 
  body {
    margin: 0;
  }
  .app{
    background: rgb(0,0,0);
background: linear-gradient(30deg, rgba(0,0,0,1) 0%, rgba(61,52,43,1) 45%, rgba(0,0,0,1) 100%);
  }
}
